*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: bisque;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 20px;
    transition: all 2s ease-in;
    
}


.outer >  img{
    height: 250px;
    width: 300px;
    border-radius: 20px;
    cursor: pointer;
}

.outer > img:hover{
        transform: scale(1.08);

}
